page-closetripnew {
    // ion-col{
    //     border: 1.1px solid black;
    //  }
    ion-grid{
        border: 0 none;
        border-spacing: 0;
        font-family: inherit;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
        background-color: transparent;
    }
    ion-row{
    background-color: #eaeaea;
    border: 1px solid #ddd;
   // height: 1em;
}

}
